{% extends "base.html.twig" %}

{% block body %}

    <h1>Visualisation du bien </h1>

    <div class="row">
        <div class="col-md-12">
            <h1>{{ property.name }} </h1>

            <p>
                {{ property.description }}
            </p>

            <strong><em>Prix : {{property.price}} €</em></strong>
        </div>
    </div>

{% endblock %}